html, body{

    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

h1{

    font-size: 50px;
    text-shadow: 2px 5px 11px rgb(12, 140, 226); /* Note that we can add multiple shadows like one for bottom another color for top etc To add multiple shadows add comma after all One shadow arguments(four argument) then , then four values for second shadow and so oon */
    /* here in the arguments the first argument take input with px(pixels) for X positon of shadow 
    the second argument take Y axis position from top to bottom
    and third argument can setup the radius (space for shadow)
    of the shadow 
    the fourth argument will be color */

    box-shadow: 8px 10px 2px black;


}

